redis:
  location: '127.0.0.1:6379/<%= Sinatra::Application.environment %>'
  namespace: 'namespace'
tire:
  url: http://127.0.0.1:9200
  index_name: account-api_<%= Sinatra::Application.environment %>
mongoid:
  sessionse:
    default:
      database: accounts-api_<%= Sinatra::Application.environment %>
      hosts:
        - localhost:27017
  options:
    raise_not_found_error: false
auth:
  token_expired_period: <%= 1.month %>

services:
  - name: 'users-and-groups-api'
  - paths:
    - /app/var/rails/uk/fw2-users-and-groups-api/development/shared/log
    - /app/var/rails/uk/fw2-users-and-groups-api/production/shared/log


  - url: 'http://localhost:3001'
    name: 'messaging-api'
  - url: 'http://localhost:3002'
    name: 'social-api'
  - url: 'http://localhost:3003'
    name: 'files-api'
  - url: 'http://localhost:3004'
    name: 'ids-api'
  - url: 'http://localhost:3005'
    name: 'tickets-api'
  - url: 'http://localhost:3006'
    name: 'services-api'
  - url: 'http://localhost:3007'
    name: 'goods-api'
  - url: 'http://localhost:3008'
    name: 'loyalty-api'
  - url: 'http://localhost:3009'
    name: 'finance-api'
  - url: 'http://localhost:3010'
    name: 'premises-api'
  - url: 'http://localhost:3011'
    name: 'events-api'
  - url: 'http://localhost:3012'
    name: 'orders-api'
  - url: 'http://localhost:3013'
    name: 'statistic-api'
  - url: 'http://localhost:3014'
    name: 'logger-api'

