<!doctype html>
<html>
 <meta charset="utf-8">
<title>Web logger</title>
<link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
<script src="<%= javascript_path 'application' %>"></script>
<body>
<div id='content' >
  <%= yield %>
</div>
</body>
</html>
